@import "tailwindcss";

:root {
  --background: var(--color-primary-dark);
  --foreground: var(--color-primary-light);
  --font-montserrat: 'Montserrat', Inter;
  --font-wildworld: 'wildworld', var(--font-montserrat);
  --font-platinum: 'platinum', var(--font-yekan);
  --font-yekan: 'yekan', Inter;
}

@theme {
  --color-primary-accent: #C8FF00;
  --color-primary-accent-60: #C8FF0060;
  --color-primary-accent-shade:#89AA13;
  --color-secondary-accent: #FF19E8;
  --color-primary-dark: #1E201D;
  --color-primary-light: #E6E8E1;
  --color-shade-glass: #484C4320;
  --text-body: 1rem;
  --text-body--font-weight: 400;
  --text-small: 0.875rem;
  --text-small--font-weight: 300;
  --text-header: 1.25rem;
  --text-header--font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-primary-dark);
    --foreground: var(--color-primary-light);
  }
}
html{
  background: var(--background,#1E201D);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-montserrat);  
  background: var(--background,#1E201D);
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url(/images/BACKSHADE2.png);
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.glass-bg {
  background-image: url('/images/glass_background-50.png');
  background-size: 110% 100%;
  border: 1px solid;
  border-image: linear-gradient(to right, #fff0 5%, #fff6 50%,#fff0 95%) 1;
}



.button {
  border-bottom: 0.313rem solid var(--color-primary-accent-shade);
  border-radius: 0.5rem;
  padding: 0 1.25rem 0 1.25rem;
  height: 3rem;
  font-size: 16px;
  font-weight: 300;
  background-color: var(--color-primary-accent);
  color: var(--color-primary-dark);
}

.button:hover {
  background: var(--color-primary-accent-shade);
  border: none;
  transition: cubic-bezier(0,0,.03,.99) 200ms;
}

.halo{
  box-shadow: 0 0 10px #C8FF00a0;
}
.profile-halo{
  box-shadow: 0 0 80px #C8FF00a0;
}


.font-wildworld {
  font-family: var(--font-wildworld);
}

.textbox-shadow{
  -webkit-box-shadow: inset 0px 15px 10px -14px #0000009c; 
box-shadow: inset 0px 15px 10px -14px #0000009c;
}

.submitShade{
  background: radial-gradient(circle, #C8FF0020 0%, #C8FF0000 20%);
}
.topplayer-boxshadow{
  box-shadow: 0 0 0 12px var(--color-primary-accent-shade);
}

.font-platinum {
  font-family: var(--font-platinum);
}

.font-yekan {
  font-family: var(--font-yekan);
}