html{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
body{
    background-color: #C8FF00;
}
.glass-bg{
    background-image: url('assets/Images/glass_background.png');
    background-size: 110% 100%;
}
